// Colors
// $bgColorPriority: rgb(235, 240, 243);
$bgColorPriority: rgb(255, 255, 255);
$bgColorPriorityDark: rgb(0, 0, 0);
$bgColorSecondary: rgb(255, 255, 255);
$bgColorThird: rgb(106, 89, 255, 1);
$bgColorSecondaryTransparent: rgb(235, 240, 243, 0.8);
$mainFontColor: rgb(42, 45, 63);
$mainFontColorSecondary: rgb(255, 255, 255);
$mainFontColorThird: rgba(0, 0, 0, 0.7);

// Fonts
$mainFont: "Poppins","Open Sans", "Arial", "Helvetica", sans-serif;
$mainTitleFont: "Poppins","Open Sans", "Arial", "Helvetica", sans-serif;
$mainPrevTitleFont: "Permanent Marker", "Open Sans", "Arial", "Helvetica", cursive;

// Buttons colors
$btnColorPrimary: rgb(255, 255, 255, 0.6);
$btnColorPrimaryHover: rgb(255, 255, 255, 1);

// Slider colors
$starsColor: rgb(0, 217, 255);
$circleBgColor: rgba(128, 128, 128, 0.6);

// NewsBreakPoint
$newsBreakPointSmall: 615px;
$newsBreakPointMedium: 900px;
$newsBreakPointLarge: 1280px;

// Height Break Point
$heightBreakPointXSmall: 288px;
