@import "../../styles/Variables.scss";

.contact {
  flex-grow: 1;
  min-height: 10rem;
  padding: 6rem 0;
  &__desc {
      padding-bottom: 2rem;
      > p {
        color: $bgColorThird;
      }
    }
    &__btns {
      width: 100%;
      overflow: hidden;
      @media (min-width: $newsBreakPointSmall) {
        flex-direction: row;
      }
    &__box {
      margin: 1rem;
      padding: 2rem 1rem;
      border-radius: 0.7rem;
      color: $mainFontColorSecondary;
      background-color: $bgColorThird;
      box-shadow: 0px 1px 5px 0px $bgColorThird;
      > a {
        padding-top: 0.2rem;
        color: rgb(212, 211, 211);
        &:hover {
          color: $mainFontColorSecondary;
        }
      }
      > svg {
        font-size: 1.2rem;
      }
    }
  }
}
