@import "../../styles/Variables.scss";

.home {
    flex-direction: column;
    height: 100vh;
    &__desc {
        flex-direction: column;
        padding-bottom: 10rem;
        font-size: 2rem;
        text-align: center;
        width: 90%;
    }
    &__children {
        width: 90%;
        > div {
            margin-inline: 1rem;
        }
    }
}