@import "../../styles/Variables.scss";

.navigation {
  position: fixed;
  right: 0.5rem;
  top: 0.6rem;
  &__icons {
    height: 2.5rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    color: $mainFontColorSecondary;
    padding: 0.5rem;
    border-radius: 1.2rem;
    background-color: $bgColorThird;
    box-shadow: 0px 1px 5px 0px rgba(106, 89, 255, 0.5);
    &__lang {
      > div,
      > svg {
        transition: opacity 0.3s;
      }
      > div {
        position: absolute;
        opacity: 0;
        width: 19px;
        @media (min-width: $newsBreakPointSmall) {
          width: 23px;
        }
      }
      > svg {
        opacity: 1;
      }
      &:hover {
        > svg,
        > div {
          transition: opacity 0.3s;
        }
        > svg {
          opacity: 0;
        }
        > div {
          opacity: 1;
        }
      }
    }
    > div {
      display: flex;
      align-items: center;
      height: 1.5rem;
      margin-inline: 0.2rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__menu {
    position: absolute;
    width: 100%;
    top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__el {
      font-size: 1rem;
      padding-bottom: 0.2rem;
      > a {
        color: $mainFontColorSecondary;
      }
    }
  }
}
