@import "../../styles/Variables.scss";

.project {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  min-height: 44rem;
  overflow: hidden;
  > h2 {
    margin: 0 auto;
    font-size: 3rem;
    transform: translateY(1rem);
    line-height: 3rem;
  }
  &__slider {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__elements {
      overflow: hidden;
      .swiper-button-prev,
      .swiper-button-next {
        color: black;
        &::after{
          font-size: 1.5rem;
        }
      }
      .swiper-button-prev {
        left: 0;
        @media (min-width: $newsBreakPointSmall) {
          left: 10px;
        }
      }
      .swiper-button-next {
        right: 0;
        @media (min-width: $newsBreakPointSmall) {
          right: 10px;
        }
      }
    }
    &__elements,
    &__item {
      height: 100%;
    }
    
  }
  &__menu {
    height: 15%;
    width: 80%;
    overflow: hidden;
    padding-top: 1rem !important;
    @media (min-width: $newsBreakPointSmall) {
      padding-top: 0 !important;
    }
    &__item {
      height: 60% !important;
      margin-inline: 0.2rem;
      border-radius: 0.4rem;
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
      background-color: rgb(172, 141, 100);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @media (min-width: $newsBreakPointMedium) {
        height: 95% !important;
      }
    }
  }
}
