@import "../../styles/Variables.scss";

.project {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  overflow: hidden;
  &__slider {
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__elements {
      overflow: hidden;
      .swiper-button-prev,
      .swiper-button-next {
        color: black;
      }
      .swiper-button-prev {
        left: 0;
        @media (min-width: $newsBreakPointSmall) {
          left: 10px;
        }
      }
      .swiper-button-next {
        right: 0;
        @media (min-width: $newsBreakPointSmall) {
          right: 10px;
        }
      }
    }
    &__elements,
    &__item {
      height: 100%;
    }
    &__item {
    }
    
  }
  &__menu {
    // display: flex;
    height: 15%;
    width: 100%;
    // overflow: scroll;
    padding-top: 1rem !important;
    @media (min-width: $newsBreakPointSmall) {
      padding-top: 0 !important;
    }
    &__item {
      height: 60% !important;
      // width: 100px;
      margin-inline: 0.2rem;
      border: 1px solid black;
      @media (min-width: $newsBreakPointMedium) {
        height: 100% !important;
      }
    }
  }
}
