@import "../../styles/Variables.scss";

.project {
  display: flex;
  // align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  overflow: hidden;
  &__slider {
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__elements {
      overflow: hidden;
      .swiper-button-prev,
      .swiper-button-next {
        color: black;
      }
    }
    &__elements,
    &__item {
      height: 100%;
    }
    &__item {
    }
    
  }
  &__menu {
    display: flex;
    height: 15%;
    width: 100%;
    // overflow: scroll;
    &__item {
      height: 100%;
      // width: 100px;
      border: 1px solid black;
    }
  }
}
